*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
header{
    padding: 20px;
    background-color: aqua;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index:1000;
}
.navbar{
    display: flex;
    justify-content:center;
    align-items: center;
   
}
.navbar ul {
    display: flex;
    list-style: none;
    gap: 40px;
}
.navbar ul li:hover{
    transform: scale(1.2);
}
.navbar ul li {
    text-align: center;
    margin-right: 40px;
}
.navbar ul li a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
    transition: transform 0.2s;

}
.navbar ul li a:hover{
    color: blue;
}
main{
    margin: 20px;
    padding: 20px;

}
.section1{
    margin-bottom: 10px;
    padding: 20px;
}




